* {
    box-sizing: border-box;
    
}
body {
    margin: 0;
    font-family: inter, sans-serif;
    height: 100vh ;
}

.profile--photo {
    position: absolute;
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
    border-radius: 10px 10px 0px 0px;
}

.info--name {
    position: absolute;
    width: 178.06px;
    height: 25.81px;
    left: 186px;
    top: 381px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #2B283A;
}

.info--profile {
    position: absolute;
    width: 178.06px;
    height: 14.19px;
    left: 186px;
    top: 413px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;

    color: #F47D27;
}

.info--site {
    position: absolute;
    width: 228px;
    height: 16px;
    left: 161px;
    top: 436px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */

    text-align: center;

    color: #4A4E74;
}

.email--icon {
    /* Icon */
    position: absolute;
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 20%;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.email--span {
    /* Text */
    width: 36px;
    height: 16px;

    /* text-sm/leading-4/font-medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    /* gray/700 */
    color: #374151;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }

.email--button {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;

    position: absolute;
    width: 115px;
    height: 34px;
    left: 151px;
    top: 469px;

    /* white */
    background: #FFFFFF;

    /* gray/300 */
    border: 1px solid #D1D5DB;

    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.linkedin--button {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;

    position: absolute;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 469px;

    background: #297FE5;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.linkedin--icon {
    /* Vector */
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    background-repeat: no-repeat;
    margin-top: 5px;
    /* background: #FFFFFF; */
}

.linkedin--span {
    /* Text */


    width: 57px;
    height: 16px;

    /* text-sm/leading-4/font-medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.about--header {
    /* About */
    position: absolute;
    width: 242.71px;
    height: 21px;
    left: 151px;
    top: 528px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #2B283A;
}

.about--text {
    position: absolute;
    width: 247px;
    height: 61px;
    left: 151px;
    top: 554px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */
    color: #4A4E74;
}

.interests--header {
    /* Interests */
    position: absolute;
    width: 242.71px;
    height: 21px;
    left: 151px;
    top: 642px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */


    color: #2B283A;
}

.interests--text {
    position: absolute;
    width: 247px;
    height: 61px;
    left: 151px;
    top: 668px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */
    color: #4A4E74;
}

.Footer--div {
    
    position: absolute;
    width: 317px;
    height: 64px;
    left: 116px;
    top: 760px;

    background: #D5D4D8;
    border-radius: 0px 0px 10px 10px;
}

/* .footer--icon {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 20%;
    background-repeat: no-repeat;
    margin-top: 5px;

}

.twitter--icon {
    position: absolute;
    left: 34.36%;
    right: 61.09%;
    top: 89.8%;
    bottom: 7.32%;

    background: #918E9B;
}

.facebook--icon {
    position: absolute;
    left: 43.27%;
    right: 52.18%;
    top: 89.8%;
    bottom: 7.32%;

    background: #918E9B;
}

.instagram--icon {
    position: absolute;
    left: 52.18%;
    right: 43.27%;
    top: 89.8%;
    bottom: 7.32%;

    background: #918E9B;
}

.github--icon {
    position: absolute;
    left: 61.09%;
    right: 25.36%;
    top: 89.8%;
    bottom: 7.32%;

    background: #918E9B;
} */

.card--div {
    position: absolute;
    width: 550px;
    height: 868px;
    left: 73px;
    top: 960px;
}



/* .card--body {
    position: absolute;
    width: 317px;
    height: 399px;
    left: 116px;
    top: 361px;

    background: #F5F5F5;
} */

